<div class="faux-body" >
    
    <div id="confirmbox">
        <div class="greetingbox">
            <h2>RENTAL CONFIRMED! <br>THANK YOU FOR MAKING IT B&M RENTALS</h2>
            <br>

            <p>PLEASE WALK WITH NECESSARY DOCUMENTS WHEN PICKING UP THE VEHICLE<br><a routerLink="/home">BACK TO HOMEPAGE</a></p>
            
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15177.598104419407!2d-77.551534!3d18.0066529!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edbbf7c03dbf631%3A0x6a4618c87526e7de!2sGriffiths%20Motor%20Sales!5e0!3m2!1sen!2sjm!4v1716526782279!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </div>

  

</div>
