<div id="hero-section">
    <div id="hero-box">
        <h1 class="dancing-script">B&M CAR RENTALS</h1>
        <h4 class="font30 ">DRIVE THE DREAM...LIVE THE LUXURY</h4>
        <div id="btn-box">
            
            <a href="/allcars" class="hero-btn">VIEW FLEET &#10230;</a>
        </div>
    </div>
</div>

<section id="about-section" class="title">
    <h2>ABOUT J&M CAR RENTALS</h2>
    <div id="about-info" class="display-case">
        <p>AT J&M CAR RENTALS, WE OFFER A WIDE RANGE OF VEHICLES AND EXCEPTIONAL CUSTOMER SERVICE TO MAKE YOUR RENTAL EXPERIENCE SEAMLESS AND ENJOYABLE. tRUST US TO GET YOU ON THE ROAD WITH CONFIDENCE AND STYLE.</p>
        <img src="../assets/lexus.png">
    </div>
</section>

<section id="featured-vehicles">

    <h2 class="section-title"> CATEGORIES</h2>

    <div class="display-case">

        <div class="featured-vehicle-card">
            
            <h4>OFF-ROAD PICK UPS</h4>
        </div>

        <div class="featured-vehicle-card">
            <h4>LUXURY SUVS</h4>
        </div>

        <div class="featured-vehicle-card">
            <h4>SEDANS</h4>
        </div>

        <div class="featured-vehicle-card">
            <h4>COUPES</h4>
        </div>

    </div>

</section>


<section id="testimonials-section">
    <h2 class="section-title"> TESTIMONIALS</h2>

    <div class="testimonial">
        <div class="text"><h2>JANET JADE</h2>
            <i><p>I love the bmw x6, It was a fun drive, would drive again!</p></i>
        </div>
    </div>
    <div class="testimonial">
        <div class="text"><h2>JANET JADE</h2>
            <i><p>I love the bmw x6, It was a fun drive, would drive again!</p></i>
        </div>
    </div>
    <div class="testimonial">
        <div class="text"><h2>JANET JADE</h2>
            <i><p>I love the bmw x6, It was a fun drive, would drive again!</p></i>
        </div>
    </div>

</section>
